html, body
{
    /* height of these elements */
    height: 100%;

    /* no margin around these elements */
    margin: 0;

    /* disable scrollbars */
    overflow: hidden;

    /* no padding within these elements */
    padding: 0;
}

.container-map {
    height: 93% !important;
    margin: 0px !important;
    width: 100% !important;
}

#map-canvas {
    position: inherit;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* align form to right of pan control */
/*#form*/
{
    /* distance from left edge of viewport */
    left: 100px;

    /* position form "absolutely" where we want it */
    position: absolute;

    /* distance from top edge of viewport */
    top: 28px;
}

/* stylize text box */
#q, #pac-input
{
    /* override typeahead.js's transparent background */
    background-color: #ffffff !important;
    vertical-align: baseline !important;
        
    /* text box's width */
/*    width: 300px;*/
}

/* stylize places' labels */
.label
{
    /* small, black text */
    color: #000000;
    font-family: sans-serif;
    font-size: small;
    font-weight: bold;

    /* don't let places' labels wrap onto multiple lines */
    white-space: nowrap;
}

/* stylize info window */
#info
{
    /* no margin around this element */
    margin: 0;

    /* should be at least this width */
    min-width: 200px;

    /* allow scrollbars as needed */
    overflow: auto;
}

/* stylize typeahead.js a la http://twitter.github.io/typeahead.js/css/examples.css */
.tt-dropdown-menu
{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 1px;
    max-height: 150px;
    overflow-y: auto;
    padding: 6px 12px;
    width: 300px;
}
.tt-suggestion.tt-cursor {
    background-color: #0097cf;
    color: #fff;
    cursor: pointer;
}
.tt-suggestion p {
    margin: 0;
}

ul.list-inline > li {
    width: 20%;
    height: 34px;
    padding: 1px;
}

.navbar {
    margin-bottom: -5px;
}

.navbar-nav > li > a {
    cursor: pointer;
}

.panel-body {
    padding-right: 5px;
}

/* Slide Menu Styles */

.cbp-spmenu {
    background: #ccc;
}

.cbp-spmenu h3 {
    color: inherit;
    font-size: 16px;
    background: #fbfbfb;
    padding: 10px;
}

.cbp-spmenu a {
    color: #777;
    text-decoration: none;
}

.cbp-spmenu a:hover {
    background: #ccc;
    border-radius: 5px;
}

.cbp-spmenu a.btn:hover {
    background: #ccc;
}

.cbp-spmenu a.btn:visited {
    background: #000;
}


.cbp-spmenu-left {
    top: 72px;
    border: 1px #e7e7e7 solid;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}

.cbp-spmenu-vertical a {
    padding: 4px 0 4px 0;
    border-bottom: none;
    cursor: pointer;
}
